* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square{
  display: block;
  width: 50px; 
  height: 50px;
  background: #ffffff;
}

.rectangle{
  display: block;
  width: 80px; 
  height: 40px;
  background: #ffffff;
}

.triangle {
  display: block;
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #ffffff;
}

.circle {
  display: block;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%
}

.container input {
  visibility: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(48, 48, 48); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.field { 
  width: 1000px;
  height: 550px;
  border: 1px solid black; 
  margin-left: 160px;
}
.btn{
  width: 60px;
  height: 30px;
  margin-top: 40px;
  outline: none;
  border-radius: 5px;
}